/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*Barra de navegacion*/

.navegacion {
    background-color: #e68349;
}

.imagenIndex {
    height: 280px;
}


/*Proyecto 1*/


/**Grid**/

.carta {
    width: 18rem !important;
}